# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# IDEs and Editors
.idea/
.vscode/
*.iml
*.swp
.DS_Store

# Go Build Binaries
/bin/
*.exe
*.test
*.out
vendor/